/* Season Sans – Regular */
@font-face {
  font-family: "Season Sans";
  src: url("https://raw.githubusercontent.com/linaresgdiana-beep/fonts/main/SeasonSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
